<div *ngIf="authUser == null">
    <smp-login  (onLogin)="onLogin($event)"></smp-login>
</div>
<div  *ngIf="authUser != null" class="wrapper preload">
    <smp-header></smp-header>
    <smp-side [authUser] ="authUser"></smp-side>
    <router-outlet></router-outlet>


    <footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">惠</strong>锁屏
				</span>
        <p class="no-margin">
            &copy; 2016 <strong>上海花事</strong>. ALL Rights Reserved.<a href="#" class="font-12">链接</a><a href="#" class="font-12">链接</a>
        </p>
    </footer>
</div><!-- /wrapper -->



