md-sidenav-layout {
    border: 3px solid black; }
md-sidenav-layout md-sidenav {
    padding: 30px; }

/* sidenav */

.md-sidenav-left md-list-item.subtitle h4,
.md-sidenav-left md-list-item.subtitle h5,
.md-sidenav-left md-list-item.subtitle h6,
.md-sidenav-left md-list-item.subtitle span {
    margin-left: 16px;
}
.md-sidenav-left md-list-item.current {
    background-color: rgba(63,81,181,0.2);
    border-right: solid 3px rgb(63,81,181);
}
.md-sidenav-left md-list-item h4,
.md-sidenav-left md-list-item h5 {
    color: #000 !important;
    min-width: 200px;
}
.md-sidenav-left .side-sub-nav {
    overflow: hidden;
    height: 48px;
    transition-duration: 0.5s;
}
.md-sidenav-left .side-sub-nav.ng-hide {
    display: block !important;
    height: 0;
    min-height: 0;
}
