<md-sidenav-layout fullscreen>
    <md-sidenav #start (open)="myinput.focus()" mode="side" class="md-sidenav-left" opened="true">
        <md-nav-list>
            <div *ngFor="let v of views">
                <md-list-item (click)="onClick(v)">
                    <h4><strong>{{v.title}}</strong></h4>
                </md-list-item>
                <md-list-item class="subtitle side-sub-nav" *ngFor="let sv of v.subview">
                    <h5><strong>{{sv.title}}</strong></h5>
                </md-list-item>
            </div>
        </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-layout>
