<style>
    .accordion a {
        cursor: hand;
    }
</style>
<aside class="sidebar-menu fixed">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="main-menu">
            <ul class="accordion">
                <li class="menu-header">
                    Main Menu
                </li>
                <li *ngFor="let v of views" class="openable bg-palette1">
                    <a onclick="{
        if(!$('aside').hasClass('sidebar-mini') || Modernizr.mq('(max-width: 991px)'))	{
            if( $(this).parent().children('.submenu').is(':hidden') ) {
                $(this).parent().siblings().removeClass('open').children('.submenu').slideUp(200);
                $(this).parent().addClass('open').children('.submenu').slideDown(200);
            }
            else	{
                $(this).parent().removeClass('open').children('.submenu').slideUp(200);
            }
        }
        return false;
    }">
                        {{v.title}}
                        <span class="submenu-icon"></span>
                    </a>
                    <ul class="submenu bg-palette1">
                        <li *ngFor="let sv of v.subview"><a (click)="onSubItemViewClick(sv)"><span
                                class="submenu-label">{{sv.title}}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sidebar-fix-bottom clearfix">
            <div class="user-dropdown dropup pull-left">
                <a href="#" class="dropdwon-toggle font-18" data-toggle="dropdown"><i class="ion-person-add"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            Inbox
                            <span class="badge badge-danger bounceIn animation-delay2 pull-right">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Notification
                            <span class="badge badge-purple bounceIn animation-delay3 pull-right">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sidebarRight-toggle">
                            Message
                            <span class="badge badge-success bounceIn animation-delay4 pull-right">7</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Setting</a>
                    </li>
                </ul>
            </div>
            <a href="#" class="pull-right font-18"><i class="ion-log-out"></i></a>
        </div>
    </div><!-- sidebar-inner -->
</aside>