<div class="overflow-hidden light-background">
<div class="wrapper preload">
    <header class="top-nav">
        <div class="top-nav-inner">
            <div class="nav-header">
                <a href="#" class="brand">
                    <span class="brand-name">惠锁屏</span>广告平台
                </a>
            </div>
        </div><!-- ./top-nav-inner -->
    </header>

    <div class="sign-in-wrapper">
        <div class="sign-in-inner">
            <div class="login-brand text-center">
                <i class="fa fa-database m-right-xs"></i><strong class="text-skin">Login</strong>login
            </div>

            <form>
                <div class="form-group m-bottom-md">
                    <input type="text" class="form-control" placeholder="用户名/邮箱">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码">
                </div>

                <div class="form-group">
                    <div class="custom-checkbox">
                        <input type="checkbox" id="chkRemember">
                        <label for="chkRemember"></label>
                    </div>
                    记住密码
                </div>

                <div class="p-top-sm">
                    <a   class="btn btn-success block" (click)="ontest()">登录</a>
                </div>

                <div class="p-top-sm">
                    <div class="font-12 text-center m-bottom-xs">
                        <a href="#" class="font-12">还没有广告主帐号? </a>
                    </div>
                    <div class="font-12 text-center m-bottom-xs">
                        <a href="#" class="font-12">忘记密码? </a>
                    </div>
                    <a href="#" class="btn btn-default block">按钮</a>
                </div>
            </form>
        </div><!-- ./sign-in-inner -->
    </div><!-- ./sign-in-wrapper -->
    <div class="font-12 margin-sm">
        <!--				<p></p>-->
    </div>
    <footer class="footer no-margin">
				<span class="footer-brand">
					<strong class="text-danger">惠</strong>锁屏
				</span>
        <p class="no-margin">
            &copy; 2016 <strong>上海花事</strong>. ALL Rights Reserved.<a href="#" class="font-12">链接</a><a href="#" class="font-12">链接</a>
        </p>
    </footer>

</div><!-- /wrapper -->

</div>